# spectre Benchmarks

In [1]:
import pandas as pd
print(pd.__version__)
start, end = pd.Timestamp('2013-01-02', tz='UTC'), pd.Timestamp('2018-01-02', tz='UTC')

import sys
sys.path.append('..\\..\\spectre')

from spectre import factors, parallel
import pandas as pd
# download data first: https://www.quandl.com/api/v3/datatables/WIKI/PRICES.csv?qopts.export=true&api_key=[yourapi_key]
%time loader = factors.QuandlLoader('../../historical_data/us/prices/quandl/WIKI_PRICES.zip')

0.25.2
Wall time: 6.19 s

In [2]:
engine = factors.FactorEngine(loader)
engine.add(factors.MA(100), 'ma')
engine.to_cuda()
%time dfsp=engine.run(start, end)
dfsp.head(5).append(dfsp.tail(5))

Wall time: 2.44 s

                                        ma
date                      asset
2013-01-02 00:00:00+00:00 A      38.110535
                          AAL    11.776899
                          AAMC         NaN
                          AAN    28.779516
                          AAON   19.606133
2018-01-02 00:00:00+00:00 ZIXI    4.827700
                          ZNGA    3.831000
                          ZOES   13.561499
                          ZTS    66.546745
                          ZUMZ   17.383249

In [3]:
%timeit engine.run(start, end)
%timeit -n 3 -r 10 engine.run(start, end)

547 ms ± 48.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
564 ms ± 64.7 ms per loop (mean ± std. dev. of 10 runs, 3 loops each)

In [4]:
engine = factors.FactorEngine(loader)
engine.add(factors.EMA(50, adjust=True), 'ema50')
engine.to_cuda()
%time dfsp=engine.run(start, end)
dfsp.head(5).append(dfsp.tail(5))

Wall time: 519 ms

                                     ema50
date                      asset
2013-01-02 00:00:00+00:00 A      38.895058
                          AAL    12.636659
                          AAMC         NaN
                          AAN    28.475159
                          AAON   20.192312
2018-01-02 00:00:00+00:00 ZIXI    4.584949
                          ZNGA    3.923238
                          ZOES   15.168861
                          ZTS    70.057404
                          ZUMZ   19.615654

In [8]:
%timeit engine.run(start, end)
%timeit -n 3 -r 10 engine.run(start, end)

639 ms ± 17.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
678 ms ± 20.3 ms per loop (mean ± std. dev. of 10 runs, 3 loops each)

In [6]:
engine = factors.FactorEngine(loader)
engine.add(factors.MACD(), 'MACD')
engine.to_cuda()
%time dfsp=engine.run(start, end)
dfsp.head(5).append(dfsp.tail(5))

Wall time: 865 ms

                                     MACD
date                      asset
2013-01-02 00:00:00+00:00 A      0.871926
                          AAL    0.231277
                          AAMC        NaN
                          AAN   -0.245126
                          AAON   0.061136
2018-01-02 00:00:00+00:00 ZIXI  -0.048263
                          ZNGA   0.018005
                          ZOES   0.859697
                          ZTS    0.797035
                          ZUMZ   0.551284

In [7]:
%timeit engine.run(start, end)
%timeit -n 3 -r 10 engine.run(start, end)

752 ms ± 121 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
671 ms ± 12.4 ms per loop (mean ± std. dev. of 10 runs, 3 loops each)

In [9]:
import torch
torch.cuda.max_memory_allocated()/1024**3, 'GB'

(1.53883695602417, 'GB')